.welcome {
  text-align: center;
}

.welcome-logo {
  height: 40vmin;
  pointer-events: none;
}

.welcome-header {
  background-image:url(../../public/bg.jpg) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.emphasis {
  color: hsl(253, 100%, 50%);
  white-space: pre;
  font-size: xx-large;
}

.padding {
  height: 7vh;
}